<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random generators by Matthew Gruman</title>
  <meta
    name="description"
    content="Random Generators: fact, names, countries, etc"
  />

  <link rel="stylesheet" href="/css/styles.css">
  <meta name="keywords" content="random, api, node, express, ejs">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MRJ7D0KSPY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MRJ7D0KSPY');
</script>
</head>
<body>
  <div class="container">
  <h1>Random Generators</h1>
    <p style="margin-bottom: 2rem;">by <a href="https://gruman.co">Matthew Gruman</a></p>
    <p>A collection of REST APIs to generate random data.</p>
    <p>This site is made with Node, Express, and EJS; and is hosted on <a href="https://vercel.com">Vercel</a>. Code for this website is available on <a href="https://github.com/gruman/random-generators">GitHub</a>.</p>
  <div class="list">
    <% endpoints.forEach(endpoint => { %>
      <h2><%= endpoint.name %>:</h2>
      <ul>
        <% endpoint.endpoints.forEach(end => { %>
          <li><label><%= end.label %>:</label>
          <input type="text" class="select-on-focus" value="<%= end.url %>" id="input<%= end.id %>" /></li>
        <% }); %></ul></li>
    <% }); %>
  </ul>
</div>
</body>
<script>
  document.querySelectorAll('.select-on-focus').forEach(input => {
    input.addEventListener('focus', () => {
      // Use setTimeout to delay deselection until after the default behavior
      setTimeout(() => {
        input.select();
      }, 0);
    });
  });
</script>
</script>
</html>